<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body link="black" vlink="black">
    <div class="logotip">
        <div class="text-logotip"><img src="https://api.logo.com/api/v2/images?logo=logo_b8b6fdff-7bfd-462c-86fe-e35a751b1947&u=2023-10-07T17%3A14%3A02.847Z&margins=0&format=webp&quality=30&width=200&height=200&background=transparent&fit=contain"></div>
    </div>
    <div class="block-parents-navig">
        <header>
         <nav>
            <div class="navig">  
                <li id="block-navig">
                    <ul id="menu"><a href="index.html">Main Menu</a></ul>
                    <ul id="animal"><a href="animals.html">Animal</a></ul>
                    <ul id="day-visit"><a href="visitingday.html">Visiting Days</a></ul>
                    <ul id="ticket-price"><a href="ticketprice.html">Ticket Price</a></ul>
                    <ul id="buy-ticket"><a href="buyticket.html">Buy Ticket</a></ul>
                </li>
            </div>
        
         </nav>
        </header>
    </div>
    <div class="main-menu-block-parents">
        <h1>1</h1>
    </div>
</body>
</html>