<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="block-parents-navig">
         <nav>
            <div class="navig">
            <ul id="animal">Amimal</ul>
            <ul id="day-visit">Visiting Days</ul>
            <ul id="ticket-price">Ticket price</ul>
            <ul id="buy-ticket">Buy Ticket</ul>
            </div>
         </nav>
    </div>
    <div class="information-window-animals">
        <h1><i>1</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>2</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>3</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>4</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>5</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>6</i></h1>
        <img scr="">
        <p id=""></p>
        <h1><i>7</i></h1>
        <img scr="">
        <p id=""></p>
    </div>
</body>
</html>