<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="registre">
        <form>
            <h1>Registration</h1>
            <label for="email">Email</label>
            <input type="text" name="email" min="5" max="30" placeholder="Email"><br>

            <label for="username">Name</label>
            <input type="text" name="username" min="2" max="30" placeholder="Name"><br>

            <label for="password">Password</label>
            <input type="text" name="password" min="8" max="30" placeholder="Password"><br>

            <label for="confirmpassword">Confirm password</label>
            <input type="text" name="confirmpassword" min="8" max="30" placeholder="Confirm password">
        </form>
    </div>
</body>
</html>