<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sign-up.css">
    <title>Document</title>
</head>
<body>
    <div class="registre">
        <form method="post">
            <h1 id="registre-logo">Sign Up</h1>
            <div class="block-parents">
            <label for="email"></label>
            <input type="text" name="email" minlength="5" maxlength="100" placeholder="Email" id="email"><br>
            <label for="username"></label>
            <input type="text" name="username" minlength="2" maxlength="100" placeholder="Name" id="name"><br>
            <label for="password"></label>
            <input type="password" name="password" minlength="8" maxlength="30" placeholder="Password" id="password"><br>
            <label for="confirmpassword"></label>
            <input type="password" name="confirmpassword" minlength="8" maxlength="30" placeholder="Confirm password" id="confit"><br>
            <input type="submit" class="sumbit">
            </div>
        </form>
    </div>
</body>
</html>