@import url('media.css');
body{
}
img{
    position: absolute;
    left: 0;
    top: 0;
}
h1:first-child{
    color: black;
}
.registre {
    width: 400px;
    height: 505px;
    margin: 0;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    font-size: 30px;
    text-shadow: 4px 4px 6px  #49423d;
    font-family: 'Times New Roman', Times, serif;
}
.block-parents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.email{
    flex-grow: 1;
    padding: 10px;
    border: solid black 0.25px;
    border-radius: 7px;
}
.Name{
    padding: 10px;
    flex-grow: 1;
    border: solid black 0.25px;
    border-radius: 7px;
}
.password{
    padding: 10px;
    flex-grow: 1;
    border: solid black 0.25px;
    border-radius: 7px;
}
.sumbit{
    padding: 10px;
    flex-grow: 1;
    border: solid black 0.25px;
    border-radius: 7px;
}
.confit{
    flex-grow: 1;
    padding: 10px;
    border: solid black 0.25px;
    border-radius: 7px;
}
.email:invalid{
    border: solid 2.5px red;
}
.Name:invalid{
    border: solid 2.5pxs red;
}
.confit:invalid{
    border: solid 2.5px red;
}
.password:invalid{
    border: solid 2.5px red;
}