@import url('media.css');
body{
    
}
img{
    position: absolute;
    left: 0;
    top: 0;
}
h1:first-child{
    color: black;
}
.registre {
    width: 400px;
    height: 575px;
    margin: 0;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px black;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}
.block-parents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.email{
    flex-grow: 1;
    padding: 10px;
}
.Name{
    padding: 10px;
    flex-grow: 1;

}
.password{
    padding: 10px;
    flex-grow: 1;
}
.sumbit{
    padding: 10px;
    flex-grow: 1;
    
}
.confit{
    flex-grow: 1;
    padding: 10px;
}
.email:valid{
    border: solid 2.5px green;
}
.email:invalid{
    border: solid 2.5px red;
}
.Name:valid{
    border: solid 2.5px green;
}
.Name:invalid{
    border: solid 2.5px red;
}
.confit:valid{
    border: solid 2.5px green;
}
.confit:invalid{
    border: solid 2.5px red;
}
.password:valid{
    border: solid 2.5px green;
}
.password:invalid{
    border: solid 2.5px red;
}